{% extends "layout.html" %}

{% block pageTitle %}
  What's the number of your permit?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Tell us about your permit
      </h1>

      <form class="form" action="/email" method="post">

        {{ govukInput({
          label: {
            text: "What's the number of your permit?",
            classes: "govuk-!-width-one-half"
          },
          hint: {
            text: "It’s in the email or letter that you received when your permit has been granted. For example, ‘123456’."
          },
          classes: "govuk-!-width-one-third",
          id: "one-quarter",
          name: "one-quarter"
        }) }}

        {{ govukInput({
          label: {
            text: "What's the authentication code for your company?",
            classes: "govuk-!-width-full"
          },
          hint: {
            text: "It’s in the email or letter that you received when your permit has been granted. For example, ‘123456’."
          },
          classes: "govuk-!-width-one-third",
          id: "one-quarter",
          name: "one-quarter"
        }) }}

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
