{% extends "layout-signed-in.html" %}

{% block pageTitle %}
  You surrendered your allowance
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/sell-confirm">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {{ govukPanel({
        titleText: "We surrendered your allowance",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email. We will add <strong>566</strong> units of allowance to your overall allowance next year.</p>

      {{ govukButton({
        href: "/dashboard?step=2",
        text: "Back to dashboard"
      }) }}

    </div>
  </div>

{% endblock %}
