{% extends "layout-signed-in.html" %}

{% block pageTitle %}
  What do you want to do with unused allowance?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/surrender">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">What do you want to do with unused allowance?
      </h1>
      
      <p class="govuk-body-l">You have <strong>566</strong> unused units left.</p>
      
      <form class="form" action="/surrender-confirm" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Use next year
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Sell
                </label>
              </div>
            </div>
          </fieldset>
          <button class="govuk-button">Save and continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
